<a href="https://colab.research.google.com/github/Rushikesh-pawar/Restaurant_data_WebScraping/blob/main/WebScraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import libraries 
import requests
from bs4 import BeautifulSoup
import pandas as pd

WebScraping three restaurants data from swiggy and saving the data in csv file

In [51]:
#make list of the urls
url_list=["https://www.swiggy.com/restaurants/burger-king-opposite-to-west-side-shivaji-nagar-bangalore-5938",
"https://www.swiggy.com/restaurants/the-belgian-waffle-co-v-v-puram-shankarapura-bangalore-197238",
"https://www.swiggy.com/restaurants/polar-bear-vv-puram-shankarapura-bangalore-5893"]
#print(response.text)

In [52]:
df_final = pd.DataFrame(columns = ['Dish_name', 'Description', 'Price', 'Bestseller', 'Restaurant Name',
       'Restaurant Address', 'Restaurant Ratings', 'Number of Ratings'])

In [53]:

for url in url_list:  
  response=requests.get(url)
  html_soup=BeautifulSoup(response.text,'html.parser')

  
  dish_containers=html_soup.find_all('div',class_= '_2wg_t')
  num = len(dish_containers)
  name_of_restaurant=html_soup.find('div',class_='OEfxz')
  address_of_restaurant=html_soup.find('div',class_='Gf2NS _2Y6HW')
  restaurant_ratings=html_soup.find('div',class_='_2l3H5')
  number_of_ratings=html_soup.find('span',class_='_1iYuU')
  item_catagory=html_soup.find('div',class_='_3Plw0 JMACF')
  nameofdish=html_soup.find_all('div',class_='styles_itemName__hLfgz')
  price=html_soup.find_all('span',class_='rupee')

  #first dish
  #first_dish=dish_containers[0]
  #print(first_dish.text)

  #create empty lists
  rest_name=[]
  rest_add=[]
  rest_rate=[]
  no_of_rate=[]
  dish_names=[]
  dish_desc=[]
  dish_price=[]
  dish_tags=[]
  dish_catagory=[]
  
  #Item Description
  for i in dish_containers:
    
    try:
      temp=i.text.split('Description:')
      x=temp[1]
      temp1=x.split('Swipe')
      dish_desc.append(temp1[0])
    except:
      dish_desc.append("NA")
    
  # print(dish_desc)
    
  #Tags
  for i in dish_containers:
    if 'Bestseller' in i:
      dish_tags.append('Yes')
    else:
      dish_tags.append('No')
  # print(dish_tags)

  #Item Catagory
  for dish in item_catagory:
    dish_catagory.append(dish.string)
  dish_catagory=dish_catagory*num
  # print(dish_catagory)

  #name of Item
  for dish in nameofdish:
      dish_names.append(dish.text)
  # print(dish_names)

  #price of item
  for pr in price:
      dish_price.append(pr.text)
  # print(dish_price)

  #Restaurant Name
  rest_name.append(name_of_restaurant.text)
  rest_name=rest_name*num
  # print(rest_name)

  #Restaurant Address
  rest_add.append(address_of_restaurant.text)
  rest_add=rest_add*num
  # print(rest_add)

  #Restaurant Ratings
  rest_rate.append(restaurant_ratings.text)
  rest_rate=rest_rate*num
  # print(rest_rate)

  #Number of Ratings
  no_of_rate.append(number_of_ratings.text)
  no_of_rate=no_of_rate*num
  # print(no_of_rate)

  #create a dataframe

  data={"Dish_name":dish_names,"Item Catagory":dish_catagory,"Description":dish_desc,"Price":dish_price,"Bestseller":dish_tags,"Restaurant Name":rest_name,"Restaurant Address":rest_add,"Restaurant Ratings":rest_rate,"Number of Ratings":no_of_rate}
  # df=pd.DataFrame(data)
  # df=pd.DataFrame(data)

  try:
    df=pd.DataFrame(data)
    df_final = df_final.append(df)
  except:
    print(len(data['Dish_name']))
    print(len(data['Item Catagory']))
    print(len(data['Description']))
    print(len(data['Price']))
    print(len(data['Bestseller']))
    print(len(data['Restaurant Name']))
    print(len(data['Restaurant Address']))
    print(len(data['Restaurant Ratings']))
    print(len(data['Number of Ratings']))
    break

In [54]:
df_final

                    Dish_name  ...        Item Catagory
0     Cheese Melt Down Burger  ...  American, Fast Food
1        Fiery Chicken Burger  ...  American, Fast Food
2         Anytime Combo (Veg)  ...  American, Fast Food
3     Anytime Combo (Chicken)  ...  American, Fast Food
4             WFH Combo (Veg)  ...  American, Fast Food
..                        ...  ...                  ...
108                   Lychica  ...             Desserts
109           Coffee Brazilia  ...             Desserts
110  Vanilla - No Added Sugar  ...             Desserts
111                 Jackfruit  ...             Desserts
112               Real Chikoo  ...             Desserts

[428 rows x 9 columns]

In [55]:
df_final.to_csv("swiggy2.csv")